{% extends 'base.html' %} {% block conteudo %}
<div class="container mb-3">
</div>
<div class="container card">
    <div class="card mb-2 text-center">
        <div class="row mb-4 p-3">
            <div class="container">
                <div class="jumbotron bg-secundary">
                    <h1 class="display-4 text-center text-secundary">Orçamento</h1>
                    <p class="lead">
                        <div class="form-group">
                            <hr class="mb-3">


                            <label class="text-secundary" for="exampleFormControlSelect1"><h3>Selecione o Cliente para o Orçamento</h3> </label>
                            <select class="form-control"> 
                                
                           <option data-url="..." selected>Nenhum...</option>
                            {% for cadastro in todos %}
                <option class="form-control" data-url="/orcamentos/{{cadastro.id}}" placeholder="Nenhum" readonly >
                {{cadastro.nome}}
                </option>
               {% endfor %}
                   </select>
                    </p>
                    </div>
                    <hr> {% if resultado %} {% for cadastro in resultado %}
                    <div class="card-body text-white ">

                        <label for="">Nome<input class="form-control" type="text" placeholder="{{cadastro.nome}}" disabled></label>
                        <label>Razão Social<input class="form-control" type="text" placeholder="{{cadastro.razao_social}}" disabled></label>
                        <Label>CNPJ ou CPF<input class="form-control" type="text" placeholder="{{cadastro.cnpj_cpf}}" disabled></Label>
                        <Label>Telefone<input class="form-control" type="text" placeholder="{{cadastro.telefone}}" disabled></Label>
                        <Label>E-mail<input class="form-control" type="text" placeholder="{{cadastro.email}}" disabled> {% endfor %} {% endif %}</Label>

                        <div class="mb-3">
                            <label for="cnae">CNAE <span class="text-muted"></span></label>
                            <textarea type="cnaeo" class="form-control" id="cnaeo" placeholder=""></textarea>
                            <div class="invalid-feedback">

                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Data de Orçamento</label>
                                <textarea class="form-control" id="datao" rows="3"></textarea>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="endereco">Descritivo</label>
                            <input type="textarea" class="form-control" id="descritivo" placeholder="Descritivo" required>
                            <div class="invalid-feedback">

                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="endereco2">Observação <span class="text-muted"></span></label>
                            <input type="text" class="form-control" id="observacaoo" placeholder="Observação">
                        </div>


                    </div>
                    <hr class="mb-3">
                    <label for="valor_total" class="text-white">Valor Total <span class="text-muted"></span></label>
                    <div class="input-group mb-4">

                        <div class="input-group-prepend mb-3">

                            <span class="input-group-text">R$</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Quantia">

                        <div class="input-group-append">
                            <span class="input-group-text">,00</span>
                        </div>

                    </div>
                    <form class="text-primary" action="/orcamento" method="">
                        <div class="mb-3">
                            <button type="submit" class="btn btn-success btn-lg btn-block">Gravar Orçamento</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var select = document.querySelector('select');
    select.addEventListener('change', function() {
        var selecionada = this.options[this.selectedIndex];
        var url = selecionada.getAttribute('data-url');
        if (url) window.location = url;
    });
</script>
{% endblock conteudo %}
